

.bar button{
    height: 5vh;
    background-color: rgb(15, 243, 15);
    border-radius: 10px;
}
.bar button:hover{
    cursor: pointer;
    background-color: rgb(7, 110, 7);
}

.bar input{
    height: 4vh;
}
